<footer class="footer ">
  <div class="footer-body">
    <small>
      <a href="http://mypack.space">MyPack</a>
      by <a href="https://www.linkedin.com/in/briansmithkeith">Brian Smith</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact   ", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>