<div class="row">
  <div class="col-sm-12">
    <nav class="navbar navbar-inverse  navbar-fixed-top">
      <div class="container-fluid">


        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "MyPack", :home, class:"navbar-brand" %>
          <!--<a class="navbar-brand" href="#">MyPack</a>-->
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Status</a></li>
            <!--<a href="#">Status<span class="sr-only">(current)</span></a></li>-->
            <li><%= link_to "Weight", :weight %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Items <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= ($user and !$user['username'].nil?) ?
                (link_to "#{$user['username']}", :root) :
                (link_to "Login", :login) %>
            </li>
            <!--<li><a href="#">Login</a></li>-->
          </ul>

        </div>
      </div>
    </nav>
  </div>
</div>