<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About Us
        <small>Meet the Team</small>
      </h1>
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>-->
    </div>
  </div>

  <!-- Team Members Row -->
  <div>
    <div class="col-lg-4 col-sm-4 text-center">
      <img class="img-circle img-responsive img-center" src="http://i.imgur.com/EzfPXs5.jpg" alt="">
      <h3>Brian
        <small>Creator</small>
      </h3>
      <p>Brian does all the planning, carries all the essentials and sometimes gets lost.</p>
    </div>
    <div class="col-lg-4 col-sm-4 text-center">
      <img class="img-circle img-responsive img-center" src="http://i.imgur.com/MkJ5P2T.png" alt="">
      <h3>Max
        <small>Branch Manager</small>
      </h3>
      <p>Max leads the pack, carries his own food and water, and thinks every stick you gather for the fire is for him.</p>
    </div>
    <div class="col-lg-4 col-sm-4 text-center">
      <img class="img-circle img-responsive img-center" src="http://i.imgur.com/6IXeKO3.png" alt="">
      <h3>Cleopatra
        <small>Ruff Rider</small>
      </h3>
      <p>Cleopatra gets carried on demand, sleeps inside sleeping bags and is the alpha of the crew.</p>
    </div>
  </div>

</div>