<!DOCTYPE HTML>
<html>
<head>

</head>
<body>

	<div class="row">
		<div class="col-sm-12">

			<div class="jumbotron">
				<div class="jumbo-text">
					<h2>Welcome to MyPack!</h2>
					<p>Create, Optimize and Share the ideal pack for your next big adventure...</p>
					<p><a class="btn btn-primary btn-lg" href="/login" role="button">Get Started</a></p>
				</div>
			</div>

		</div>
	</div>


	<div class="master row">

	</div>

</body>
</html>