// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.master {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px
}

//$primary-darkcyan: #cceeee;
//$navbar-default-border: #006d6d;
//$navbar-default-brand-color: #132020;
////
////// Default navbar
//.navbar-default {
//  background-color: $primary-darkcyan;
//  border-color: $navbar-default-border;
//  margin-top: 10px;
//
//  .navbar-brand {
//    color: $navbar-default-brand-color;
//    &:hover,
//    &:focus {
//      color: $primary-darkcyan;
//      background-color: $navbar-default-border;
//    }
//  }
//}

.jumbotron {
  position: relative;
  min-height: 300px;
  background-image: image-url("max_yonah.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: bottom center;
  text-shadow: 0px 0px 2px #000000;

  .jumbo-text {
    position: absolute;
    bottom: 10px;
    left: 17px;
    color: white;
    font-weight: bold;

    h2 {
      margin-bottom: 2px;
    }

    p {
      margin-bottom: 10px;
      //font-weight: bold;
    }
  }
}

