.sign_form {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.log-in-form {
  top: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  max-width: 500px;
}

.log-in-entry {
  margin-bottom: 10px;
}